@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=EB+Garamond:wght@400;500;600&family=Lora:ital@1&family=Nanum+Myeongjo:wght@400;700;800&family=Poppins:ital,wght@1,200;1,300;1,400;1,500&display=swap');
:root{
    --black:#000;
    -white:#fff;
    --pink:#8e6787;
    --light-bg:#eccbe1;
    --border-bold:.4rem solid var(--pink);
    --box--shadow:7px 6px 5px 0px rgba(0,0,0,0.4);
}
*{
    font-family: 'EB Garamond', 'Arial',' sans-serif';
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    border:none;
    text-decoration:none;

}
*{
    background-color: var(--white);
    color:var(--pink);
}
*::-webkit-scrollbar{
    height:.5rem;
    width:1rem;
   } 
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--pink);
}
html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-behavior:smooth;
}
body{
 overflow:hidden;
 transition:.2s linear !important;      
 text-align: center; 
}
body .active{
  padding-left:  
}
/* <!-- Body Section Ends --> */
/* <!-- Header Section Starts --> */
.header{
    position:fixed;
    top:0;left:-35rem;
    height:100vh;
    background-color:var(--white);
    border-right:var(--border-bold);
    width:35rem;
    padding:3rem 2rem;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-flow:column;
}
.header .navbar{
    width: 100%;
}
.header .navbar a{
    text-decoration: none;
    font-size: 2.5rem;
    padding:1.5rem;
    margin:.5rem;
    display:block;
}

.header .navbar a:hover{
 background-color: #f0aae46b;
 transform: scale(1.2);
}
.header .follow a{
    font-size:2.5rem;
    margin:0 1rem;  
}
.header .follow a:hover{
    transform: scale(2.1);
}
#menu-btn{
   position: absolute; 
   top:0; right:-5.5rem;
   height:4.5rem;
   line-height: 4.5rem;
   width:5rem;
   font-size: 3rem;
   cursor: pointer;
   color: var(--white);
}
.logo{
    margin-top: -30px;
    height: 190px;
}
.header .active{
   left:0; 
}
/* <!-- Header Section Ends --> */

